<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>/login</h1>
    <p>로그인 페이지</p>
<div id="wrap">
    <form action="">
        <label for="input-id">ID : </label>
        <input id="input-id" type="text" > <br>
        <label for="input-pw">PW : </label>
        <input id="input-pw" type="password" > <br>
        <button type="submit">로그인</button>
    </form>
</div>
</body>
</html>