<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/main">
<div id="main" layout:fragment="content" style="background-color: #0b0c1c;">
    <div class="container">
        <div class="main-box">
            <h2 class="title">게임 페이지</h2>
            <a href="/game/transfer/testCoin">테스트 코인 받기</a>
            <a href="/game/get/tran">userWallet 조회하기 (테스트유저는 불가)</a>
        </div>
    </div>
</div>
</html>