<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout/main">
<div id="main" layout:fragment="content" style="background-color: #0b0c1c;">
    <div class="container">
        <div class="main-box">
            <h2 class="title">레인저스 랜덤 조합 타워 디펜스</h2>
            <div class="line-login-banner mt-5 location-href" data-locationHref="/oauth2/authorization/line"></div>
            <div class="test mt-2">
                <a href="/login/testUser?user=test1" class="btn btn-primary">테스트계정1</a>
                <a href="/login/testUser?user=test2" class="btn btn-primary">테스트계정2</a>
                <a href="/login/testUser?user=test3" class="btn btn-primary">테스트계정3</a>
            </div>
        </div>
    </div>
</div>
</html>